$selection: #EEEEEE;
$element-background-active: #398279;
$page-background: #0F1A2B;
$component-background-1: #273345;
$component-background-2: #245953;
$danger: #ED2B2A;
$success: #A2FF86;
$placeholder: #BBBBBB;
$disabled-backgound: #D3D3D3;
$disabled-content: #909090;

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}