$selection-color: #EEEEEE;
$element-background-active-color: #398279;
$page-background: #0F1A2B;
$component-background-1: #273345;
$component-background-2: #245953;


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}